* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(60, 60, 60);
}

header {
    font-size: 160%;
    text-align: center;
    color: rgb(230, 150, 0);
    margin-top: 25px;
    margin-bottom: 25px;
}

/* Header image */
#header-image {
    text-align: center;
    background-color: #333;
}

#header-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/*Highlighting for important text and link*/
.highlight {
    text-decoration-line: underline;
    font-weight: bold;
    font-size: 110%;
    color: white;
}

.background-color {
    background-color: #333;
}

/* Navigation */
.nav-container {
    display: flex;
    justify-content: center;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.nav-link {
    text-decoration: none;
    color: rgb(230, 150, 0);
    border-bottom: 2px solid white;
    font-size: 230%;
    margin: 0 50px;
}

.main-header {
    text-decoration: none;
    color: rgb(230, 150, 0);
    border-bottom: 2px solid white;
}

#active {
    border-bottom: 2px solid red;
}

/*Section rules*/
section {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

hr {
    border-bottom: 4px solid black;
}

h2 {
    font-size: 40px;
    color: rgb(230, 150, 0);
    text-align: center;
}

p {
    font-size: 20px;
    color: white;
    padding-top: 20px;
}

/* alignment for the overview page*/
.left-align {
    float: left;
    text-align: left;
    width: 45%;
    background-color: #333;
}

.right-align {
    float: right;
    text-align: right;
    width: 45%;
    background-color: #333;
}

.youtube-vid {
    width: 99%;
    height: 450px;
}

/*Footer*/
footer {
    height: 50px;
    background-color: #333;
    padding: 20px;
    text-align: center;
    margin-top: 100px;
}

.social-links a {
    display: inline-block;
    margin: 0 5%;
    color: #fff;
    font-size: 40px;
}

/*Interactive map*/
.interactive-window {
    width: 100%;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.interactive-window iframe {
    width: 100%;
    height: 100%;
    border: none;
}

/*Spacing for the boss list*/
.spacing {
    height: 500px;
    background-color: #333;
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

/* Paragraph styling for bosses list*/
.boss-description {
    padding: 20px;
}

.boss-image {
    margin-left: auto;
    margin-right: 20px;
    height: 400px;
    max-width: 100%
}

/* New overview testing  ----------------------------------------------------------*/
main {
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.content {
    margin-top: 25px;
    width: 45%;
    background-color: #333;
    padding: 20px;
    margin-bottom: 20px;
}

/*Makes the margin smaller on smaller screens*/
@media (max-width: 1400px) {
    main {
        margin-left: 25px;
        margin-right: 25px;
    }
}

/*Overview page */
/*Makes elements stack ontop of one another instead of side by side on smaller screens*/
@media (max-width: 1100px) {
    main {
        flex-direction: column;
        align-items: center;
        margin-left: 5px;
        margin-right: 5px;
    }

    .content {
        width: auto;
    }
}

/*Section*/
/*Makes the margin smaller on smaller screens*/
@media (max-width: 1400px) {
    section {
        margin-left: 25px;
        margin-right: 25px;
    }
}

/*Removes most of the margin to more screen space on small screens*/
@media (max-width: 1100px) {
    section {
        padding-bottom: 50px;
        margin-left: 5px;
        margin-right: 5px;
    }
}

/*Stops the text from leaving the div on smaller screens*/
@media (max-width: 1600px) {
    .spacing {
        flex-direction: column;
        align-items: center;
        text-align: center;
        overflow-y: auto;
    }

    .boss-image {
        margin: 20px auto 0;
    }
}

/*Makes the nav stack on top of eachover instead of side by side on smaller screens*/
@media (max-width: 768px) {
    .nav {
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .nav-link {
        margin: 10px 0;
    }
}